# Ignore node_modules
node_modules/

# Ignore build artifacts
dist/

# Ignore environment variables
.env

# Ignore SSH keys
ssh
ssh.pub
sshkey
sshkey.pub

# Ignore other temporary or sensitive files
*.log

# Ignore everything in dist folder
dist/*

# But not dist/bundle.js
!dist/bundle.js

# dist/

